{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="{% static "money.ico" %}">

	    <title>The Price Is Right</title>

	    <!-- Bootstrap core JS -->
	    <link href="{% static "bootstrap/js/bootstrap.min.js" %}" rel="stylesheet">

	    <!-- Bootstrap core CSS -->
	    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

	    <!-- Override .navbar-brand style -->
	    <style>
	    	.navbar-inverse .navbar-brand:hover, 
			.navbar-inverse .navbar-brand:focus {
  			background-color: transparent;
  			color: #999999;
		}
	    </style>
	    {% block head-extras %}
	    {% endblock %}

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container-fluid">
	      	 <div class="navbar-header">
	      	  <!-- this section will make navbar responsive especially on small screens -->
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		       <a class="navbar-brand">The Price Is Right</a>
		    </div>
		    <!-- this section will make the actual navbar -->
	        <div id="navbar" class="navbar-collapse collapse">
	          {% if user.is_authenticated %}
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="{% url 'index' %}">Home</a></li>
	            <li><a href="{% url 'place_order' %}">Place Order</a></li>
	            <li><a href="{% url 'logout' %}">Logout</a></li>
	          </ul>
	          {% endif %}
	          
	        </div>
	      </div>
	    </nav>

	    <div class="container-fluid">
      	  <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 main">

			{% if user.is_authenticated %}
				<h1 class="page-header">Salutations, {{ user }}</h1>
			{% endif %}
		
			{% block content %}
			{% endblock %}

			</div>
      	  </div>
     	</div>

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

	</body>
</html>