{% extends 'base.html' %}

{% load staticfiles %}

{% block head-extras %}
    <!-- Custom styles for this page -->
    <link href="{% static "stocks/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <h2 class="sub-header">Current Orders</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Sell</th>
          <th>Quantity</th>
          <th>Time</th>
          <th>Progress</th>
        </tr>
      </thead>
      {% if orders %}
        <tbody>
            {% for order in orders %}
                {% if order.status == 'P' or order.status == 'F' %}
                    <tr>
                        <td> <a href="{% url 'order_detail' order.id %}">{{ order.id }} </a>
                        <td> {{ order.is_sell }}
                        <td> {{ order.quantity }}
                        <td class="col-md-3"> {{ order.time_executed }}
                        <td class="col-md-3"> 
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ order.progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ order.progress }}%"> {{ order.progress }}%
                                </div>
                            </div>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    {% endif %}
    </table>
  </div>

  <h2 class="sub-header">Completed Orders</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Sell</th>
          <th>Quantity</th>
          <th>Time</th>
        </tr>
      </thead>
      {% if orders %}
        <tbody>
            {% for order in orders %}
                {% if order.status == 'C' %}
                    <tr>
                        <td> <a href="{% url 'order_detail' order.id %}">{{ order.id }} </a>
                        <td> {{ order.is_sell }}
                        <td> {{ order.quantity }}
                        <td> {{ order.time_executed }}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    {% endif %}
    </table>
  </div>


{% endblock %}