{% extends 'base.html' %}

{% block content %}

<h1>Working Orders</h1>

{% if orders %}
    <ul>
        {% for order in orders %}
        	{% if order.success == False %}
        		<li><a href="{% url 'order_detail' order.id %}">ID = {{ order.id }} Sell = {{ order.is_sell }} for this quantity: {{ order.quantity }}</a></li>
        	{% endif %}
        {% endfor %}
    </ul>
{% endif %}

<h1>Completed Orders</h1>

{% if orders %}
    <ul>
        {% for order in orders %}
        	{% if order.success == True %}
        		<li><a href="{% url 'order_detail' order.id %}">ID = {{ order.id }} Sell = {{ order.is_sell }} for this quantity: {{ order.quantity }}</a></li>
        	{% endif %}
        {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'place_order' %}">Place an Order</a>

{% endblock %}