{% extends 'base.html' %}

{% load staticfiles %}

{% block head-extras %}
    <!-- Custom styles for this page -->
    <link href="{% static "stocks/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <h2 class="sub-header">Current Orders</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Sell</th>
          <th>Quantity</th>
          <th>Time Executed</th>
        </tr>
      </thead>
      {% if orders %}
        <tbody>
            {% for order in orders %}
                {% if order.success == False %}
                    <tr>
                        <td> <a href="{% url 'order_detail' order.id %}">{{ order.id }} </a>
                        <td> {{ order.is_sell }}
                        <td> {{ order.quantity }}
                        <td> {{ order.time_executed }}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    {% endif %}
    </table>
  </div>

  <h2 class="sub-header">Completed Orders</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Sell</th>
          <th>Quantity</th>
          <th>Time Executed</th>
        </tr>
      </thead>
      {% if orders %}
        <tbody>
            {% for order in orders %}
                {% if order.success == True %}
                    <tr>
                        <td> <a href="{% url 'order_detail' order.id %}">{{ order.id }} </a>
                        <td> {{ order.is_sell }}
                        <td> {{ order.quantity }}
                        <td> {{ order.time_executed }}
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    {% endif %}
    </table>
  </div>


{% endblock %}