{% extends 'base.html' %}

{% load staticfiles %}

{% block head-extras %}
    <!-- Custom styles for this page -->
    <link href="{% static "stocks/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h2 class="sub-header">Order: </h2>
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    40% Complete (success)
  </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Child Order Number</th>
          <th>Quantity</th>
          <th>Status</th>
        </tr>
      </thead>
        {% if child_orders %}
        <tbody>
            {% for co in child_orders %}
                <tr>
                    <td> {{ co.time_executed }}
                    <td> {{ co.id }}
                    <td> {{ co.quantity }}
                    <td> {% if co.is_successful %} 
                            SUCCEEDED sold for {{ co.price}}
                        {% else %}
                            FAILED
                        {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
  </div>

{% endblock %}