{% extends 'base.html' %}

{% load staticfiles %}

{% block head-extras %}
    <!-- Custom styles for this page -->
    <link href="{% static "stocks/dashboard.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<h2 class="sub-header">Order: {{ parent_order.quantity }} x {{ parent_order.stock_type }}</h2>
<p> <b>Average Price:</b> {{ average_price }}, <b>Gross Sale Price:</b> {{ total_price }}, <b>Total Quantity Sold:</b> {{ total_sold }} </p>


<div class="progress">

  {% if parent_order.status == 'P' %}
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
    aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">
    {{progress}}% Complete
  {% endif %}
  {% if parent_order.status == 'F' %}
    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
    aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">
    {{progress}}% Complete
  {% endif %}

  </div>
</div>

<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Child Order Number</th>
          <th>Quantity</th>
          <th>Status</th>
        </tr>
      </thead>
        {% if child_orders %}
        <tbody>
            {% for co in child_orders %}
                {% if co.is_successful %} 
                    <tr class="success">
                {% else %}
                    <tr class="danger">
                {% endif %}
                    <td> {{ co.time_executed }} EST
                    <td> {{ co.id }}
                    <td> {{ co.quantity }}
                    <td> {% if co.is_successful %} 
                            SUCCEEDED sold for {{ co.price }}
                        {% else %}
                            FAILED
                        {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
  </div>

{% endblock %}